{% load static %}

<!--Load Mapbox-->
    <!-- Concatenated js plugins and jQuery -->
    <script src="{% static '' %}assets/js/app.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static '' %}assets/data/tipuedrop_content.js"></script>

    <!-- Core js -->
    <script src="{% static '' %}assets/js/global.js"></script>

    <!-- Navigation options js -->
    <script src="{% static '' %}assets/js/navbar-v1.js"></script>
    <script src="{% static '' %}assets/js/navbar-v2.js"></script>
    <script src="{% static '' %}assets/js/navbar-mobile.js"></script>
    <script src="{% static '' %}assets/js/navbar-options.js"></script>
    <script src="{% static '' %}assets/js/sidebar-v1.js"></script>

    <!-- Core instance js -->
    <script src="{% static '' %}assets/js/main.js"></script>
    <script src="{% static '' %}assets/js/chat.js"></script>
    <script src="{% static '' %}assets/js/touch.js"></script>
    <script src="{% static '' %}assets/js/tour.js"></script>

    <!-- Components js -->
    <script src="{% static '' %}assets/js/explorer.js"></script>
    <script src="{% static '' %}assets/js/widgets.js"></script>
    <script src="{% static '' %}assets/js/modal-uploader.js"></script>
    <script src="{% static '' %}assets/js/popovers-users.js"></script>
    <script src="{% static '' %}assets/js/popovers-pages.js"></script>
    <script src="{% static '' %}assets/js/lightbox.js"></script>