{% extends 'includes/base.html' %}

{% block title %}Snox | Dashboard 2{% endblock %}

{% block content %}
    <div class="view-wrapper">
    <!-- Container -->
    <div id="page-placeholder" class="container">
        <div class="page-placeholder">
            <div class="placeholder-content">
                <img class="light-image" src="img/comingsoon.svg" alt="" />
                <img class="dark-image" src="img/comingsoon.svg" alt="" />
                <h3>Coming Soon</h3>
                <p class="is-large">
                    This page is currently under deveopment. Stay tuned.
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
